[submodule "TradingApp/external/glm"]
	path = TradingApp/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "TradingApp/external/ImGui"]
	path = TradingApp/external/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "TradingApp/external/ImPlot"]
	path = TradingApp/external/ImPlot
	url = https://github.com/epezent/implot.git
[submodule "TradingApp/external/curl"]
	path = TradingApp/external/curl
	url = https://github.com/curl/curl.git
	branch = master
